*{
    font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
    font-size:16px;
    padding:0px;
    margin:0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
.types{
    width:400px;
    margin:20px auto;
    margin-bottom: 0px ;
    padding:10px;
    height:100px;
    border:1px solid #999;
    border-radius:50px;
    box-shadow: 2px 2px 5px #ccc;
    text-align: center;
    line-height:80px;
    font-size:30px;

}
.types:hover{
    border:2px solid rgb(255, 136, 0);
    background:rgb(255, 232, 128);
}
.header{
    margin:10px auto;
    padding:10px;
    text-align: center;
    font-size:32px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}
table td{
    border:solid 1px gray;
    padding: 10px;
}

input[type="text"]{
    padding: 10px;
    border: solid 1px gray;
    border-radius: 10px;
}
.center{
    margin: 50px auto;
    text-align: center;
}
.center2{
    margin: 50px auto;
    width: 80%;
    
}

/* input[type="button"],
input[type="submit"]
{
    padding: 10px 20px;
    border: solid 1px gray;
    border-radius: 0px; */